/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2017, 10:37:18 PM
    Author     : Bofrostmann
*/

* {
    padding: 0;
    margin: 0;
    border: none;
    
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html,body{
    height: 100%;
    width: 100%;
}

main {
    height: 90%;
    background-color: skyblue;
}

footer {
    height: 10%;
    background-color: lightblue;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.hidden * {
    display: none;
}

.overlay_menu {
    position: relative;
    width: fit-content;
    height: 70%;
    z-index: 3;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}

.menu_item {
    display: block;
}

.design_button {
    margin: 0.2rem;
    padding: 0.3rem;
    text-align: center;
    color: #fff;
    text-shadow: -2px 2px #306090;
    background-color: #ff9664;
    background-image: linear-gradient(top, #80b0e0, #306090);
    /*ensure browser support, chrome needs it, so to make sure, we do moz etc. as well*/
    background-image: -webkit-linear-gradient(top, #80b0e0, #306090);
    background-image: -moz-linear-gradient(top, #80b0e0, #306090);
    background-image: -o-linear-gradient(top, #80b0e0, #306090);
    background-image: -ms-linear-gradient(top, #80b0e0, #306090);
    box-shadow: inset 0 0 0 1px #305070;
    border: none;
    border-radius: 5px;
}

.design_button:active {
    box-shadow: inset 0 0 0 1px #305070,inset 0 5px 30px #204050;
}

#overlay_container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#overlay_background {
    position: absolute; 
    top:0;
    left:0;
    width:100%;
    height: 100%;
    margin:auto;
    background-color: #000;
    opacity:0.5;
    z-index:2;
}
